# 你的 Apple ID（用于登录 App Store Connect）
FASTLANE_APPLE_ID=your-apple-id@example.com

# App Store Connect Team ID（如果你的 Apple ID 属于多个团队）
# FASTLANE_ITC_TEAM_ID=12345678

# Apple Developer Portal Team ID
FASTLANE_TEAM_ID=NP4F3CYKZD

# 本地密码存储（可选）
# FASTLANE_PASSWORD=your-apple-id-password
